@import "tailwindcss";
@import "tailwindcss-primeui";

@theme {
  --font-sans: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  --font-sans--font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  --font-sans--font-variation-settings: "opsz" 32;

  --sidebar-width: 300px;
  --header-height: 80px;
}

.p-card-caption {
  @apply mb-4;
}

.p-card-footer {
  @apply mt-4;
}